<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Input and Output folder paths -->
		<add key="InputFolder" value="D:\\Brady\\Input" />
		<add key="OutputFolder" value="D:\\Brady\\Output" />
		<add key="ReferenceData" value="D:\\Brady\\ReferenceData\\ReferenceData.xml" />
	</appSettings>
</configuration>